version: "3.9"
services:

  postgres:
    container_name: postgres
    image: postgres:16.1-alpine3.18
    env_file:
      - .env
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
    ports:
      - "5432:5432"
    volumes:
      - /var/lib/postgresql/data
      - ./docker/initdb:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d ${DB_NAME} -U ${DB_USER}"]
      interval: 10s
      timeout: 10s
      retries: 30
    restart: unless-stopped
    networks:
      - my_networks

  redis:
    image: redis:latest
    env_file:
      - .env
    container_name: redis_container
    ports:
      - '6379:6379'
    restart: always
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 3
    volumes:
      - redis_data:/data
    networks:
      - my_networks

  web:
    build:
      context: .
      dockerfile: Dockerfile
      target: web
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    ports:
      - "${BACKEND_PORT:-8000}:${BACKEND_PORT:-8000}"
    restart: unless-stopped
    networks:
      - my_networks

  bot:
    build:
      context: .
      dockerfile: Dockerfile
      target: bot
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - my_networks

volumes:
  redis_data:
  initdb:

networks:
  my_networks:
    driver: bridge
